<div class="row">
  <div class="span7">
    <%= simple_form_for(@booking_request, :html => {class: 'form-horizontal'}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <fieldset class="submitter">
            <%= render 'submitter_fields', f: f %>
        </fieldset>
        <fieldset>
          <legend><%= t :organization_info %></legend>

          <div class="control-group">
            <div class="controls copy">
              <%= label_tag :copy_personal_info, :copy_personal_info, :class => "checkbox" do %>
                <%= check_box_tag :copy_personal_info %> <%= t :copy_personal_info %>
              <% end %>
            </div>

          </div>

          <%= f.input :organization_name %>
          <%= f.input :contact_person %>
          <%= f.input :contact_email %>
          <%= f.input :contact_phone, :type => "tel" %>
          <%= f.input :organization_address, :input_html => {:rows => 5, :cols => 60} %>
        </fieldset>
        <fieldset>
          <legend><%= t :event_details %></legend>
          <%= f.input :start_time, :as => :string, :input_html => {:class => "datepicker"} %>
          <%= f.input :end_time, :as => :string, :input_html => {:class => "datepicker"} %>
          <%= f.input :people %>
          <%= f.input :description, :input_html => {:rows => 5, :cols => 60} %>
          <%= f.input :catering_needs, :input_html => {:rows => 5, :cols => 60} %>
          <%= f.input :equipment_needs, :input_html => {:rows => 5, :cols => 60} %>
          <%= f.input :notes, :input_html => {:rows => 5, :cols => 60} %>
        </fieldset>
      </div>
      <%= render 'modals' %>
      <div class="form-actions">
        <%= f.button :submit, :class => 'btn-primary' %>
        <%= link_to 'Back', root_path, :class => 'btn' %>
      </div>

    <% end %>
  </div>
</div>



<% content_for :scripts do %>
  <% if signed_in? and cannot? :create_on_behalf, BookingRequest %>
    <script>
      $(document).ready(function () {
        $("#new_booking_request").trigger("disable");
      })
    </script>

  <% end %>
<% end %>