<%= form_for(@booking_request) do |f| %>
  <% if @booking_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking_request.errors.count, "error") %> prohibited this booking_request from being
        saved:</h2>

      <ul>
        <% @booking_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if !signed_in? %>
  <%= fields_for :submitter do |b| %>
    <%= render 'submitter_fields', f: b %>
  <% end %>
  <% else %>
    <%= render 'submitter_info', f: b %>
  <% end %>

  <div class="field">
    <%= f.label :start_time %>
    <br/>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %>
    <br/>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :people %>
    <br/>
    <%= f.number_field :people %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <br/>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :catering_needs %>
    <br/>
    <%= f.text_area :catering_needs %>
  </div>
  <div class="field">
    <%= f.label :equipment_needs %>
    <br/>
    <%= f.text_area :equipment_needs %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <br/>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
