<%- model_class = BookingRequest -%>

<h2><%= t('.title') %></h2>
<br/>
<% if @assigned_requests.count == 0 %>
  <div class="hero-unit">
    <h2><%= t('.hero_title') %></h2>
    <p><%= t('.hero_subtitle_1') %>
    <br/><%= t('.hero_subtitle_2') %></p>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:start_at) %></th>
      <th><%= model_class.human_attribute_name(:people) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:requester) %></th>
      <th><%= model_class.human_attribute_name(:assigned_to) %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <% @assigned_requests.each do |booking_request| %>
      <tr>
        <td><%= format_date(booking_request.start_at) %></td>
        <td><%= booking_request.people %></td>
        <td><%= booking_request.status.humanize %></td>
        <td><%= booking_request.submitter.name %> </td>
        <td><%= format_assignee(booking_request.assignee_id) %></td>
        <td><%= link_to t('.show'),
                        booking_request,
                        :class => 'btn btn-mini' %></td>
        <td><%= link_to t('.make_offer'),
                        new_booking_request_offer_path(booking_request),
                        :class => 'btn btn-mini btn-primary' %></td>
      </tr>
    <% end %>
  </table>

  <br/>
<% end %>