<%- model_class = BookingRequest -%>

<h1><%= t('.outstanding_requests') %></h1>
<h2><%= t("bookingrequest.outstanding_requests", :default => "Outstanding Requests") %></h2>
<br/>
<% if @not_assigned_to_me_booking_requests.count == 0 %>
  <div class="hero-unit">
    <h2><%= t('.awesome') %></h2>
    <p><%= t('.hero_subtitle_1')%><br /><%= t(".hero_subtitle_2")%>.</p>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:start_at) %></th>
      <th><%= model_class.human_attribute_name(:people) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:requester) %></th>
      <th><%= model_class.human_attribute_name(:assigned_to) %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <% @not_assigned_to_me_booking_requests.each do |booking_request| %>
      <tr>
        <td><%= format_date(booking_request.start_at) %></td>
        <td><%= booking_request.people %></td>
        <td><%= booking_request.status.humanize %></td>
        <td><%= booking_request.submitter.name %> </td>
        <td><%= format_assignee(booking_request.assignee_id) %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                        booking_request,
                        :class => 'btn btn-mini' %></td>

        </td>
        <td>
          <% if can? :assign_to_other, BookingRequest %>
            <div class="btn-group">
              <button class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown"><%= t('.assign_to') %><span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% @booking_agents.each do |agent| %>
                  <li><%= link_to agent.name,
                                  assign_to_user_booking_request_path(booking_request, :assignee_id => agent.id), :method => :put %>
                  </li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to t('.myself'),
                                assign_to_user_booking_request_path(booking_request, :assignee_id => current_user.id), :method => :put%>
                </li>
              </ul>
            </div>
          <% elsif can? :assign_to_self, BookingRequest %>
            <%= link_to t('.process'),
                        assign_to_user_booking_request_path(booking_request, :assignee_id => current_user.id), :method => :put,
                        :class => 'btn btn-mini btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <br/>

<% end %>