<h1><%= t("booking_request.assigned_requests", :default => "Assigned Requests") %></h1>
<br/>
<% if @assigned_to_me_booking_requests.count == 0 %>
  <div class="hero-unit">
    <h2></h2>

    <p><%= t("You have no Booking Requests to manage.", :default => "You have no Booking Requests to manage.") %>
      <br/><%= t("Start working on one by clicking on the \"Process\" button.") %></p>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Start time</th>
      <th>People</th>
      <th>Status</th>
      <th>Requester</th>
      <th>Assignee</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <% @assigned_to_me_booking_requests.each do |booking_request| %>
      <tr>
        <td><%= format_date(booking_request.start_at) %></td>
        <td><%= booking_request.people %></td>
        <td><%= booking_request.status.humanize %></td>
        <td><%= booking_request.submitter.name %> </td>
        <td><%= format_assignee(booking_request.assignee_id) %></td>
        <td><%= link_to t('.show', :default => t("helpers.titles.show")),
                        booking_request,
                        :class => 'btn btn-mini' %></td>
        <td><%= link_to t('.edit', :default => t("helpers.titles.edit")),
                        edit_booking_request_path(booking_request),
                        :class => 'btn btn-mini btn-primary' %></td>
      </tr>
    <% end %>
  </table>

  <br/>
<% end %>