<% if can? :manage, BookingRequest %>
  <div class="row-fluid">
    <div class="span6">
      <%= render 'table_unassigned' %>
    </div>
    <div class="span6">
      <%= render 'table_assigned' %>
    </div>
  </div>
<% end %>


<% if can? :manage, BookingRequest %>
  <div class="row-fluid">
    <fieldset>
      <legend><h2>Requests received in the last two weeks</h2></legend>
      <%= render 'chart' %>
    </fieldset>
  </div>
<% end %>

<h2><%= t ("Here are your Booking Requests") %></h2>
<% if @booking_requests.count == 0 %>
  <div class="hero-unit">
    <h2>Zero</h2>

    <p><%= t("You did not enter any Booking Request.") %></p>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>People</th>
      <th>Description</th>
      <th>Catering needs</th>
      <th>Equipment needs</th>
      <th>Notes</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <% @booking_requests.each do |booking_request| %>
      <tr>
        <td><%= format_date(booking_request.start_at) %></td>
        <td><%= format_date(booking_request.end_at) %></td>
        <td><%= booking_request.people %></td>
        <td><%= booking_request.description %></td>
        <td><%= booking_request.catering_needs %></td>
        <td><%= booking_request.equipment_needs %></td>
        <td><%= booking_request.notes %></td>
        <td>
          <a href="#" rel="tooltip" data-toggle="tooltip" data-placement="top" title="<%= format_status_tooltip(booking_request.status) %>" data-original-title="<%= format_status_tooltip(booking_request.status) %>"><%= booking_request.status.humanize %></a>
        </td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                        booking_request, :class => 'btn btn-mini' %></td>
        <!-- <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                             edit_booking_request_path(booking_request), :class => 'btn btn-mini' %></td> -->
        <td><%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        "#",
                        :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                        :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </table>

<% end %>
<br/>


<%= link_to t("bookingrequest.new_booking_request"), new_booking_request_path, :class => 'btn btn-primary' %>
