<%- model_class = BookingRequest -%>


<h2><%= t ('.your_booking_requests') %></h2>
<% if @booking_requests.count == 0 %>
  <div class="hero-unit">
    <h2>Zero</h2>
    <p><%= t('.no_booking_requests') %></p>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:start_at) %></th>
      <th><%= model_class.human_attribute_name(:end_at) %></th>
      <th><%= model_class.human_attribute_name(:people) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:catering_needs) %></th>
      <th><%= model_class.human_attribute_name(:equipment_needs) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <% @booking_requests.each do |booking_request| %>
      <tr>
        <td><%= format_date_short(booking_request.start_at) %></td>
        <td><%= format_date_short(booking_request.end_at) %></td>
        <td><%= booking_request.people %></td>
        <td><%= booking_request.title %></td>
        <td><%= booking_request.catering_needs %></td>
        <td><%= booking_request.equipment_needs %></td>
        <td>
          <a href="#" rel="tooltip" data-toggle="tooltip" data-placement="top" title="<%= format_status_tooltip(booking_request.status) %>" data-original-title="<%= format_status_tooltip(booking_request.status) %>"><%= booking_request.status.humanize %></a>
        </td>
        <td><%= link_to t('.show', :default => t('.helpers.links.show')),
                        booking_request, :class => 'btn btn-mini' %></td>
        <!-- <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                             edit_booking_request_path(booking_request), :class => 'btn btn-mini' %></td> -->
        <td><%= if can? :cancel, booking_request
                  link_to t('.cancel', :default => t("helpers.links.cancel")),
                        cancel_booking_request_path(booking_request),
                        :method => :put,
                        :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                        :class => 'btn btn-mini btn-danger'
                end %></td>



      </tr>
    <% end %>
  </table>

<% end %>
<br/>


<%= link_to t('.new_booking_request'), new_booking_request_path, :class => 'btn btn-primary' %>
