<div class="page-header">
  <h1><%= t '.offer' %></h1>
</div>
<%- model_class = BookingRequest -%>
<%- submitter_class = User -%>


<fieldset class="span10">
  <legend><%= t :'.request_details' %></legend>
  <div class="row">
    <div class="span5">
      <table>
        <tbody>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:event_date) %>:</strong></td>
          <td><%= @booking_request.event_date %></td>
        </tr>
        <tr>
          <td><strong><%= t(:'.times_requested') %>:</strong></td>
          <td><%= @booking_request.event_date %></td>
        </tr>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:people) %>:</strong></td>
          <td><%= @booking_request.people %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="span5">
      <table>
        <tbody>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:organization_name) %>:</strong></td>
          <td><%= @booking_request.organization_name %></td>
        </tr>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:contact_email) %>:</strong></td>
          <td><%= @booking_request.contact_email %></td>
        </tr>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:contact_phone) %>:</strong></td>
          <td><%= @booking_request.contact_phone %></td>
        </tr>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:organization_address) %>:</strong></td>
          <td>
            <address><%= @booking_request.organization_address %></address>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</fieldset>
<div class="span5">
  <div class="pull-left">
    <%= select_tag :building, options_from_collection_for_select(@buildings, "id", "name"), :prompt => t(:'.select_building') %>
  </div>
  <div class="pull-right">
    <%= render partial: 'booking_requests/offer/rooms', locals: {building_id: nil} %>
  </div>
  <div class="full-calendar">

  </div>
</div>
<div class="span5">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#description" data-toggle="tab"><%= model_class.human_attribute_name(:description) %></a></li>
    <li><a href="#catering_needs" data-toggle="tab"><%= model_class.human_attribute_name(:catering_needs) %></a></li>
    <li><a href="#equipment_needs" data-toggle="tab"><%= model_class.human_attribute_name(:equipment_needs) %></a></li>
    <li><a href="#notes" data-toggle="tab"><%= model_class.human_attribute_name(:notes) %></a></li>
  </ul>
  <div class="tab-content booking-request-details">
    <div class="tab-pane active" id="description"><%= @booking_request.description %></div>
    <div class="tab-pane" id="catering_needs"><%= @booking_request.catering_needs %></div>
    <div class="tab-pane" id="equipment_needs"><%= @booking_request.equipment_needs %></div>
    <div class="tab-pane" id="notes"><%= @booking_request.notes %></div>
  </div>
</div>