<%
   outer_width = 710
   inner_width = 670
   left_col_width = "45%"
   right_col_width = "55%"
   font_family = "heltivica, arial, sans-serif"
%>

<div style="margin: 0; padding: 0; width: 100%;">
  <table width="<%= outer_width %>" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
      <td style="font-family: <%= font_family %>; font-size: 25px; padding: 20px; background-color: #CCC; color: #FFF;">
        Your Request
      </td>
    </tr>
    <tr>
      <td style="font-family: <%= font_family %>; font-size: 16px; padding: 24px; background-color: #E7E7E7;">

        <table width="<%= inner_width %>" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="<%= left_col_width %>">
              <strong><%= t(:'.submitter_name') %></strong>

              <p><%= @booking_request.submitter.name %></p>
            </td>
            <td width="<%= right_col_width %>" style="padding: 0 20px 0 20px;">
              <strong><%= t(:'.event_name') %></strong>
              <!-- change to name when added -->
              <p><%= @booking_request.description %></p>
            </td>
          </tr>
          <tr>
            <td width="<%= left_col_width %>" valign="top" style="padding: 20px 0 30px 0;">
              <% if @booking_request.company_name.present? %>
                <p><strong><%= t(:'.company_name') %></strong></p>

                <p><%= @booking_request.company_name %></p>
              <% end %>
              <p><strong><%= t(:'.company_address') %></strong></p>

              <p><%= @booking_request.company_address %></p>

              <p><strong><%= t(:'.contact_person') %></strong></p>

              <p><%= @booking_request.contact_person %></p>

              <p><strong><%= t(:'.contact_phone') %></strong></p>

              <p><%= @booking_request.contact_phone %></p>
            </td>
            <td width="<%= right_col_width %>" valign="top" style="padding: 20px 20px 30px 20px;">
              <p><strong><%= t(:'.description') %></strong></p>

              <p><%= @booking_request.description %></p>
            </td>
          </tr>
        </table>
      </td>
    <tr>
      <td style="font-family: <%= font_family %>; font-size: 25px; padding: 20px;">
        <p><%= t(:'.rooms_offered') %></p>
      </td>
    </tr>
    <tr>
      <td style="font-family: <%= font_family %>; font-size: 16px; padding: 24px;">
        <table width="<%= inner_width %>" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20" style="font-size: 16px; padding: 0px 0px 0px 0px;"> </td>
            <td width="40%" style="font-size: 16px; padding: 0px 0px 0px 0px;">
              <p><strong><%= t(:'.room_name') %></strong></p>
            </td>
            <td width="" style="font-size: 16px; padding: 0 0 0 10px;">
              <p><strong><%= t(:'.date') %></strong></p>
            </td>
            <td width="" style="font-size: 16px; padding: 0 0 0 10px;">
              <p><strong><%= t(:'.time') %></strong></p>
            </td>
            <td width="" style="font-size: 16px; padding: 0 0 0 10px;">
              <p><strong><%= t(:'.tariff') %></strong></p>
            </td>
            <td width="" style="font-size: 16px; padding: 0 0 0 10px;">

              <p><strong><%= t(:'.price') %></strong></p>
            </td>
          </tr>
          <% @event.event_rooms.each_with_index do |event_room, index| %>
            <tr>
              <td width="" style="font-size: 16px; padding: 0px 0px 0px 0px;">
                <p><%= index + 1 %>&nbsp;</p>
              </td>
              <td width="" style="font-size: 16px; padding: 0px 0px 0px 0px;">
                <p><%= event_room.room.name %></p>
              </td>
              <td width="" style="font-size: 16px; padding: 0 0 0 10px;">
                <p><%= event_room.event_date %></p>
              </td>
              <td width="" style="font-size: 16px; padding: 0 0 0 10px;">
                <p><%= event_room.start_time %> - <%= event_room.end_time %></p>
              </td>
              <td width="" style="font-size: 16px; padding: 0 0 0 10px;">
                <p><%= t("tariff." + event_room.tariff) %></p>
              </td>
              <td width="" style="font-size: 16px; padding: 0 0 0 10px;">

                <p><%= number_to_currency(event_room.sub_total,:locale => :nl) %></p>
              </td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>

    <tr>
      <td style="font-family: <%= font_family %>; font-size: 25px; padding: 20px; border-top:1px">
        <%= t(:'.additional_items') %>
      </td>
    </tr>
    <tr>
      <td style="font-family: <%= font_family %>; font-size: 16px; padding: 24px;">
        <table width="<%= inner_width %>" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="30" style="font-size: 16px; padding: 0px 0px 0px 0px;"> </td>
            <td width="90%" style="font-size: 16px; padding: 0px 0px 0px 0px;">
              <p><strong><%= t(:'.item_name') %></strong></p>
            </td>
            <td width="" style="font-size: 16px; padding: 0 0 0 10px;">

              <p><strong><%= t(:'.price') %></strong></p>
            </td>
          </tr>
          <% @event.event_charges.each_with_index do |event_charge, index| %>
            <tr>
              <td width="30" style="font-size: 16px; padding: 0px 0px 0px 0px;">
                <p><%= index + 1 %>&nbsp;</p>
              </td>
              <td width="" style="font-size: 16px; padding: 0px 0px 0px 0px;">
                <p><%= event_charge.name %></p>
              </td>
              <td width="" style="font-size: 16px; padding: 0 0 0 10px;">
                <p><%=  number_to_currency(event_charge.total,:locale => :nl) %></p>
              </td>

            </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td style="font-family: <%= font_family %>; font-size: 20px; padding: 0 20px 30px 20px;">
        <table width="<%= inner_width %>" cellspacing="0" cellpadding="0" style="border-top:1px solid #000000">
          <tbody><tr>
            <td width="30" style="font-size: 16px; padding: 0px 0px 0px 0px;"> </td>
            <td width="90%" style="padding: 10px 0 0 0; "><%= t(".estimated_total") %></td>
            <td width="" style="padding: 10px 0 0 10px;"><%= number_to_currency(@event.grand_total,:locale => :nl) %></td>
          </tr>
          </tbody></table>
      </td>
    </tr>

    <tr>
      <td style="font-family: <%= font_family %>; font-size: 15px; padding: 20px;">
        <%= t(".link_to_offer", :offer_link => link_to(t(".offer_link_text"), @link_to_offer), :accept_or_decline_link => link_to(t(".accept_or_decline"), @link_to_offer)).html_safe %>
      </td>
    </tr>
    <tr>
      <td style="font-family: <%= font_family %>; font-size: 15px; padding: 20px; background-color: #CCC; color: #FFF;">
        <%= t ".disclaimer" %>
      </td>
    </tr>
    <tr>
      <td style="font-family: <%= font_family %>; font-size: 15px; padding: 20px; background-color: #CCC; color: #FFF;">
        You receive this email because you have requested rooms via SamensApp.
      </td>
    </tr>
    </tbody>
  </table>
</div>
