<%- model_class = Room -%>
<fieldset>
  <legend> <%= t '.title', :default => model_class.model_name.human %> <%= t '.configurations' %> </legend>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t '.name' %></th>
      <th class="text-right"><%= t '.capacity' %></th>
    </tr>
    </thead>
    <tbody>
    <% @room_configurations.each do |configuration| %>
      <tr>
        <td><%= configuration.name %></td>
        <td class="text-right"><%= configuration.capacity %></td>
        <% if can? :manage, Room %>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_room_room_configuration_path(@room, configuration), {:data => {:toggle => :modal, :target => "#edit_room_config"}, :class => "btn btn-mini btn-primary pull-right"} %>
          </td>
          <td>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        room_room_configuration_path(@room, configuration),
                        :method => :delete,
                        :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                        :class => 'btn btn-mini btn-danger', :remote => true %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="form-actions">
    <% if can? :manage, RoomConfiguration %>
      <%= link_to t('.add'), new_room_room_configuration_path(@room), {:data => {:toggle => :modal, :target => "#new_room_config"}, :class => "btn btn-primary pull-right"} %>
    <% end %>
  </div>
</fieldset>

