<%= form_for(@room, :html=>{:multipart => true }) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :floor %><br />
    <%= f.number_field :floor %>
  </div>
  <div class="field">
    <%= f.label :base_price %><br />
    <%= f.text_field :base_price %>
  </div>
  <div class="field">
    <%= f.label :blind_price %><br />
    <%= f.text_field :blind_price %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.number_field :capacity %>
  </div>


  <%= f.fields_for :picture do |attachment_form|  %>
    <p>
      <%= image_tag(attachment_form.object.image.url) if attachment_form.object.image? %>
    </p>
    <p>
      <%= attachment_form.label :description %><br />
      <%= attachment_form.text_field :description %>
    </p>
    <p>
      <%= attachment_form.label :image %><br />
      <%= attachment_form.file_field :image %>
    </p>
    <%= attachment_form.link_to_remove "Remove this attachment" %>
  <% end %>
  <%= f.link_to_add "Add attachment", :pictures %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
