<%= simple_form_for(@room, :html=>{:multipart => true }) do |f| %>


    <%= f.association :building %>
    <%= f.input :name %>
    <%= f.input :floor %>
    <%= f.input :base_price %>
    <%= f.input :blind_price %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                room_path(@room), :class => 'btn' %>
  </div>
<% end %>
