<%= simple_form_for(@room, :html => {:multipart => true}) do |f| %>

  <%= f.association :building %>
  <%= f.input :name %>
  <%= f.input :floor %>
  <%= f.input :base_price %>
  <%= f.input :blind_price %>
  <%= f.input :capacity %>
  <%= f.input :description, :input_html => {:rows => 5, :placeholder => "Enter a description."} %>
  <%= f.input :notes, :input_html => {:rows => 5, :placeholder => "Enter some notes."} %>
  <%= f.input :cleaning_fee %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rooms_path, :class => 'btn' %>
  </div>
<% end %>
