<%= simple_form_for(@room, :html => {:multipart => true}) do |f| %>


  <%= f.association :building %>
  <%= f.input :name %>
  <%= f.input :floor %>
  <%= f.input :rentable %>

  <%= f.input :minimum_block %>
  <%= f.input :base_price, :as => :currency %>
  <%= f.input :blind_price, :as => :currency %>
  <%= f.input :cleaning_fee, :as => :currency %>

  <%= f.input :description, :input_html => {:rows => 5, :placeholder => t(:'helpers.placeholder.room.description')} %>
  <%= f.input :notes, :input_html => {:rows => 5, :placeholder => t(:'helpers.placeholder.room.notes') } %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rooms_path, :class => 'btn' %>
  </div>
<% end %>
