<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Floor:</b>
  <%= @room.floor %>
</p>

<p>
  <b>Base price:</b>
  <%= @room.base_price %>
</p>

<p>
  <b>Blind price:</b>
  <%= @room.blind_price %>
</p>

<p>
  <b>Capacity:</b>
  <%= @room.capacity %>
</p>


<p>
<div id="pictures">
  <% for picture in @room.pictures %>
    <div class="picture">
      <%= image_tag picture.image_url(:thumb) if picture.image? %>
      <div class="description"><%= picture.description %></div>
      <div class="action">
        <%= link_to "remove", picture, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
  </div>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
