<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Floor:</b>
  <%= @room.floor %>
</p>

<p>
  <b>Base price:</b>
  <%= @room.base_price %>
</p>

<p>
  <b>Blind price:</b>
  <%= @room.blind_price %>
</p>

<p>
  <b>Capacity:</b>
  <%= @room.capacity %>
</p>

<h1>Painting Gallery</h1>

<div id="paintings">
  <%= render @room.paintings %>
</div>
<div class="clear"></div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
