<%- model_class = Room -%>
<div class="row">
  <div class="span4">
    <fieldset><legend> <%=t '.title', :default => model_class.model_name.human %> <%=t '.details' %> </legend>
      <p>
      <b>Name:</b>
      <%= @room.name %>
    </p>
    <p>
      <b>Floor:</b>
      <%= @room.floor %>
    </p>
    
    <p>
      <b>Base price:</b>
      <%= @room.base_price %>
    </p>
    
    <p>
      <b>Blind price:</b>
      <%= @room.blind_price %>
    </p>

    <p>
      <b>Capacity:</b>
      <%= @room.capacity %>
    </p>
    </fieldset>
    <div class="form-actions">
      <%= link_to :edit, edit_room_path(@room) , :class=>"btn btn-primary pull-right" %>
    </div>
  </div>
  <div class="span4">
    <fieldset><legend> <%=t '.title', :default => model_class.model_name.human %> <%=t '.configuration' %> </legend>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>...</th>
          <th>...</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>...</td>
          <td>...</td>
        </tr>
      </tbody>
    </table></fieldset>
    <div class="form-actions">
      <%= link_to :add_configuration,  new_room_room_configuration_path(@room), {:data=>{:toggle=>:modal, :target=>"#new_room_config"}, :class=>"btn btn-primary pull-right"} %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <fieldset><legend> <%=t '.title', :default => model_class.model_name.human %> <%=t '.pictures' %> </legend>
      <p>
        <%= render "pictures/pictures" %>
      </p>
      <% if can? :create, @room.pictures %>
      <p>
        <%= render "pictures/form" %>
      </p>
      <% end %>
    </fieldset>
  </div>
</div>

<!-- Modal -->
<div id="new_room_config" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%=t :add_configuration %></h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary"><%=t :add_configuration %></button>
  </div>
</div>
