<%= simple_form_for(@organization, :html => {:multipart => true}) do |f| %>


  <div class="form-inputs clearfix">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.input :image %>
      <%= f.input :email, input_html: {type: :email} %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
