<%= simple_form_for(@organization, :html => {:multipart => true}) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% @organization.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs clearfix">
    <div class="field">
      <%= f.input :name %>
    </div>
    <div class="field">
      <%= f.input :address %>
    </div>
    <div class="field">
      <%= f.input :image %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
