<%- model_class = Organization -%>

<h2><%= t('.title') %></h2>
<br/>
<% if @verified.count == 0 %>
  <div class="hero-unit">
    <p><%= t('.no_organizations') %></p>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th></th>
    </tr>
    </thead>
    <% @verified.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.address %></td>
        <td><%= link_to t('.show'),
                        organization,
                        :class => 'btn btn-mini' %>
        <%= if can? :manage, organization
                  link_to t('.edit'),
                          edit_organization_path(organization),
                          :class => 'btn btn-mini btn-primary'
                end %></td>
      </tr>
    <% end %>
  </table>

  <br/>
<% end %>