<%- model_class = Organization -%>
<ul class="breadcrumb">

  <li class="active"><%= t(:'.title') %></li>
</ul>


<%= render 'organizations/mine' %>

<% if can? :new, Organization %>
  <%= render 'organizations/verified' %>
  <%= render 'organizations/rest' %>
  <%= t('.start_your_organization') %>
  <%= link_to 'New Organization', new_organization_path %>


<% end %>

<br/>

