<%- model_class = Organization -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= render 'organizations/verified' %>
<%= if current_user.role? :global_admin.to_s
      render 'organizations/rest'
    end
%>

<br/>
<%= t('.start_your_organization') %>
<%= link_to 'New Organization', new_organization_path %>
